body {
    font-family: 'Open Sans', sans-serif;
    background-color: #DEDEDE;
}

h1 {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

.box {
    display: block;
    height: 100%;
    border-radius: 5px;
}

.box-feedback {
    background-color: #FFFFFF;
    border: #BABABA 1px;
    margin-top: 10px;
}

.box-header {
    background-color: #EDEDED;
    border-bottom: #BABABA 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
}

.box-body {
    padding: 10px;
}

.box-footer {
    background-color: #EDEDED;
    border-bottom: #BABABA 1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
    height: auto;
}

.padding-10 {
    padding: 10px;
}

.inline {
    display: inline-block;
}

.bg-purple {
    background-color: purple;
    color: white;
}

.bg-red {
    background-color: #ff297a;
    color: white;
}

.bg-yellow {
    background-color: #fff012;
    color: white;
}

.bg-grey {
    background-color: #d8d6da;
    color: white;
}

.pointer {
    cursor: pointer;
}

.border-radius {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.padding {
    padding-top: 10px;
}

.marker-none {
    list-style: none;
    padding-left: 0px;
}

.text-red {
    color: #ff2060 !important;
}
